@use "../variables";

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin containerWidth($maxContainerWidth:1000px) {
    max-width: $maxContainerWidth;
}

@mixin borderRadiusTop($borderRadiusValue:30px) {
    border-top-right-radius: $borderRadiusValue;
    border-top-left-radius: $borderRadiusValue;
}

@mixin borderRadiusBottom($borderRadiusValue:30px) {
    border-bottom-right-radius: $borderRadiusValue;
    border-bottom-left-radius: $borderRadiusValue;
}