@use "../../variables";
@use "../../mixins/mixins";

#contato {
    max-width: 100%;
    background-color: variables.$bodyColorPrimary;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);

    .container-contato-wrapper {
        max-width: 1080px;
        
        .container-contato {
            max-width: 100%;
        }
    }
}