@use "../variables";

#info {
    background-color: variables.$colorFooterPrimary;
    border-bottom: 3px solid !important;
    border-color: variables.$colorFooterSec !important;
    color: variables.$colorFooterText;
}

.follow-us-footer {
    color: variables.$colorFooterSec;
}

#info-container {
    //border-bottom: 2px solid variables.$colorFooterBorder !important;
    background-color: variables.$colorFooterPrimary;
    color: variables.$colorFooterText;
    border-color: variables.$colorFooterPrimary;
}

#footer-foot-note {
    background-color: variables.$colorFooterPrimary;
    padding-bottom: 1rem;
}

.footer-menu1, 
.footer-menu1 p, 
.footer-menu1 a,
#footer-foot-note span {
    color: variables.$colorFooterText !important;
}

#footer-info {
    text-align: center;

    p {
        color: variables.$colorFooterSec;
    }

    span {
        color: variables.$colorFooterText;
    }

    .store-brands img {
        height: auto;
        max-width: 60px;
        max-height: 80px; 
        object-fit: contain;
        transition: ease-in-out 0.5s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

#footer-logo {
    max-height: 80px;
    transition: 0.5s ease-in-out;
}

#footer-logo:hover {
    transform: scale(1.05);
}

.text-reset {
    transition: ease-in-out 0.2s;

    &:hover {
        color: variables.$primaryColor !important;
    }
}

#footer-social-links a {
    text-decoration: none; 
    margin-right: 5px;
    transition: ease-in-out 0.2s;

    & svg {
        color: variables.$svgColor;
        margin-left: 10px !important;

        &:hover {
            color: variables.$svgColorHover;
        }
    }
}

.contact-footer {
    vertical-align: center !important;
    align-items: center;
    align-content: center;
    color: variables.$colorFooterText;
}

#footer-foot-note {
    color: variables.$colorFooterText;
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    
}

#footer-developed-by {
    font-weight: bold;
}

#footer-developed-by a {
    color: variables.$devbyColor;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

#footer-developed-by a:hover {
    color: variables.$devbyColorHover;
    text-decoration: underline;
}
