@use "../variables";
@use "../mixins/mixins";

#home {
    background-color: variables.$bodyColorPrimary;
}

.banner {
    display: flex;
    justify-content: space-around;
    height: calc(100svh);
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.motto {
    position: absolute;
    bottom: 22%;
    left: 8%;
    text-align: center;

    h1 {
        line-height: 0.6;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        font-size: 12rem;
        font-family: "Outfit", sans-serif;
        font-weight: 800;
        font-style: normal;
        color: variables.$textColor;
        text-shadow: 6px 6px 3px rgba(0, 0, 0, 0.3);
        transition: 0.5s ease-in-out;
    }

    .motto-p1 {
        padding-left: 3.5rem;
        line-height: 1;
        font-weight: 800;
        font-style: normal;
        font-family: "Outfit", sans-serif;
        font-size: 3rem;
    }

    .motto-p2 {
        font-weight: 800;
        font-style: normal;
        font-family: "Outfit", sans-serif;
        font-size: 2.4rem;
    }
}

#parallax {
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url(../../../build/dist/img/background_hero.webp);
    background-size: cover;
    background-position: center;
}

.container-parallax {

    .bg {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-size: auto 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
        transition: 0.5s;
    }

    .bg-1 {
        background-image: url(../../../build/dist/img/parallax_1.webp);
        pointer-events: none;
    }

    .bg-2 {
        background-image: url(../../../build/dist/img/parallax_2.webp);
        pointer-events: none;
    }

    .bg-3 {
        background-image: url(../../../build/dist/img/parallax_3.webp);
        pointer-events: none;
    }

    .bg-4 {
        background-image: url(../../../build/dist/img/parallax_4.webp);
        pointer-events: none;
    }

    .bg-5 {
        background-image: url(../../../build/dist/img/parallax_5.webp);
        pointer-events: none;
    }

    .bg-6 {
        background-image: url(../../../build/dist/img/parallax_6.webp);
        pointer-events: none;
    }

    .bg-7 {
        gap: 8px;
        position: absolute;
        left: 15%;
        top: 70%;
        // background-image: url(../../../build/dist/img/parallax_7.webp);
        // pointer-events: none;
        a img {
            max-height: 45px;
        }
    }

    .bg-8 {
        background-image: url(../../../build/dist/img/parallax_8.webp);
        pointer-events: none;
    }
}